<!-- Navbar starts -->       
<header>
    
    <div class="container">
        <div class="row c">
            <div class="col-md-3 c">
                <div class="logo">
                    <img src="../imgs/logo.png" alt="">
                </div>
            </div>
            <div class="col-md-7 c ">
                <ul class="menu text-md-center ">
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="/admin/manageuser">Manage User</a></li>
                    <li><a href="/admin/changepasswordadmin">Change Password</a></li>                                                    
                    <li id="Service" onclick="myfunction()">
                        <a href="#">Category</a><span><i id ="icon"class="fa fa-caret-right" style="color: #007bff; transform: rotate(0deg); font-size: 19px; position: relative; top: 2px; left: 7px;" aria-hidden="true"></i>
                        </span>
                    </li>
                        <ul class="sub-service" id="Sub" style="position: absolute; right: 80px;">
                            <li class=""><a href="/admin/addcategory">Add Category</a></li>
                           <li class=""><a href="/admin/addsubcategory">Sub Category</a></li>
                        </ul>
                    <li><a href="/login">Log Out</a></li>
               </ul>
            </div>
            <div class="col-md-2" style="position: relative;top: 21px; color: grey; font-weight: bold;"><%= sunm %></div>
         </div>
    </div>
</header>
<!-- Navbar ends-->       
