<!-- Footer Starts -->       
<div class="container section">
    <div class="row pt-3">
        <div class="col-md-3 col-sm-6 footer-c">
            <div class="footer-l">
                <img src="imgs/logo.png" alt="">
            </div>
            <p id="footer-pera">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, animi!</p>
        </div>
        <div class="col-md-3 col-sm-6 footer-c">
            <h3>Quick Links</h3>
            <ul class="footer-m">
                <li><a href="#">About</a></li>
                <li><a href="#">Offers & Discount</a></li>
                <li><a href="#">Get Coupon</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 footer-c">
            <h3>New Product</h3>
            <ul class="footer-m">
                <li><a href="#">Woman Cloths</a></li>
                <li><a href="#">Fashion Accsesories</a></li>
                <li><a href="#">Men Accsesories</a></li>
                <li><a href="#">Rubber made Toys</a></li>
            </ul>
        </div>
        
        <div class="col-md-3 col-sm-6 footer-c">
            <h3>Support</h3>
            <ul class="footer-m">
                <li><a href="#">Frequently Asked Questions</a></li>
                <li><a href="#">Terms & Condition</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Report & Payment issue</a></li>
            </ul>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-12 footer-c"><p>Copyright ©2020 All rights reserved | This template is made with <span id="heart">&hearts;</span> Tekeshwar Dewangan
            </p></div>
            <div class="col-sm-12">
                <div class="icon">
                    <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/explore" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.gmail.com" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
               </div>
            </div>
          </div>
        </div>
        <!-- Footer ends -->    
       