<!-- Main Page starts -->       
<div class="content">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h1 class="head">Select Your New Perfect Style</h1>
                <p class="pera">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Lorem ipsum dolor sit amet.
                </p>
                <a href="#"><button class="btn btn-primary btn-1 pt-3">SHOP NOW</button></a>
            </div>
            <div class="col-md-4">
                <div class="watch">
                    <img src="imgs/watch.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Page ends -->       