

<!-- Navbar starts -->       
<header>
    <div class="container">
        <div class="row c">
            <div class="col-md-3 c">
                <div class="logo">
                    <img src="./imgs/logo.png" alt="">
                </div>
            </div>
            <div class="col-md-7 c ">
                <input type="checkbox" id="check">
                <label for="check" class="tag">
                    <div class="spin t"></div>
                    <div class="spin m"></div>
                    <div class="spin b"></div>
                </label>
                <ul class="menu text-md-center ">
                    <li><a href="/">Home</a></li>
                        <!-- <input type="checkbox" id="check-1">
                        <label for="check-1" class="tag-1">
                            <div class="spin-1 f"></div>
                            <div class="spin-1 s"></div>
                        </label>
                        <ul class="sub-m">
                            <li><a href="#">Shop-1</a></li>
                            <li><a href="#">Shop-2</a></li>
                            <li><a href="#">Shop-3</a></li>
                        </ul> -->
                    <li><a href="/about">About</a></li>
                    <li><a href="/product">Products</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li id="Service" onclick="myfunction()">
                        <a href="#">Pages</a><span><i id ="icon"class="fa fa-caret-right" style="color: #007bff; transform: rotate(0deg); font-size: 19px; position: relative; top: 2px; left: 7px;" aria-hidden="true"></i>
                        </span>
                    </li>
                        <ul class="sub-service" id="Sub">
                            <li class=""><a href="">Page-1</a></li>
                           <li class=""><a href="">Page-2</a></li>
                           <li class=""><a href="">Page-3</a></li>
                        </ul>
                        <li class=""><a href="/login">Login</a></li>
                </ul>
            </div>
            <div class="col-md-2 text-center pl-0 pr-0 pt-3" style="font-size: 22px;">
               
               <a href="/registration"><i class="fa fa-user-plus mt-1" aria-hidden="true"></i>
               </i></a>
            </div>

        </div>
    </div>
</header>
<!-- Navbar ends-->       
