<!-- Carousel starts -->       
<div class="container mt-3 mb-3">
    <div class="row" id="latest">
        <div class="col-md-12 head-2">
            <h1 class="head-b">Our Team</h1>
        </div>
    </div>
</div>

<div class="container mb-5 mt-4">
    <div class="row">
        <div class="col-md-10 mr-auto ml-auto text-center">
            <div id="carouselId" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item text-center active">
                        <div class="img-box p-1  m-auto">
                            <img class="d-block w-100 rounded-circle" src="imgs/df8f84084f61f8a0c1e6b54a990569f1.jpg" alt="">
                            </div>
                            <h2 class="mt-4">Web Designer</h2>
                            <h6>Shriya Sharma</h6>
                            <p class="mt-4 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laborum nemo molestiae! Quod voluptas perspiciatis repellendus fuga odio sit sed.</p>
                    </div>
                    <div class="carousel-item text-center">
                        <div class="img-box p-1  m-auto">
                            <img class="d-block w-100  rounded-circle " src="imgs/testm-01.png" alt="">
                            </div>
                            <h2 class="mt-4">Web Devloper</h2>
                            <h6>Tom Serrif</h6>
                            <p class="mt-4 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laborum nemo molestiae! Quod voluptas perspiciatis repellendus fuga odio sit sed.</p>
                    
                    </div>
                    <div class="carousel-item text-center">
                        <div class="img-box p-1  m-auto">
                            <img class="d-block w-100 rounded-circle" src="imgs/images-0.jpg" alt="">
                            </div>
                            <h2 class="mt-4">Android Devloper</h2>
                            <h6>John Albert</h6>
                            <p class="mt-4 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laborum nemo molestiae! Quod voluptas perspiciatis repellendus fuga odio sit sed.</p>
                    </div>

                 
                </div>
                <a class="carousel-control-prev" href="#carouselId"  data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselId" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </div>
</div>

<!-- Carousel ends-->       
