

<!-- preloader section starts-->

<body onload="PreLoader()">
    <% include components/preloader %>
    <!-- navbar include -->
    <% include components/nav %>
    <!-- title contact start -->
    <div class="content-b">
        <div class="container ">
            <div class="row justify-content-center align-items-center" style="height: 500px;">
                <h1 class="title">Contact</h1>
            </div>
        </div>
    </div>
    <!-- title contact  ends-->

    <!-- Contact Page Starts -->
    <div class="container mt-5 mb-2">
        <div class="row" id="cont-us">
            <div class="col-md-12 head-2">
                <h1 class="head-b">Contact Us</h1>
            </div>
        </div>

    </div>
    <div class="container" id="cont">
        <div class="row contact justify-content-center">
            <div class="col-sm-8 d-flex justify-content-center  box-1">
                <input type="name" class="name" required="required">
                <label for="name" class="place">Full Name</label>
            </div>
            <div class="col-sm-8 d-flex justify-content-center  box-1">
                <input type="" class="name" required />
                <label for="name" class="place">Email Id</label>
            </div>
            <div class="col-sm-8 d-flex justify-content-center  box-1">
                <input type="text" class="name" required="required">
                <label for="name" class="place">Subject</label>
            </div>
            <div class="col-sm-8 d-flex justify-content-center  box-1">
                <textarea name="" id="" class="p-2" cols="130" rows="5" placeholder="Enter Your Message"></textarea>
            </div>
            <div class="col-sm-8 d-flex justify-content-center  box-1">
                <button class="btn-primary bt">Submit</button>
            </div>

        </div>
        <!-- <div class="row">
         <div class="col-md-4">

         </div>
         <div class="col-md-4"></div>
         <div class="col-md-4"></div>
     </div> -->
    </div>
    <!-- Contact Page ends-->

    <!-- Footer include-->
    <% include components/footer %>

    <script src="javascripts/dropdown.js"></script>
    <script src="javascripts/preloader.js"></script>
</body>
</html>