<!-- preloader section starts-->

<body onload="PreLoader()">
    <% include components/preloader %>
    <!-- preloader section ends -->
    <!-- navbar include -->
    <% include components/nav %>
    <!-- main-content include-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
    <form method="POST" action="/forgetpassword" class="d-flex flex-column align-items-center justify-content-center" style="height: 400px;">
        <div class="form-group w-50">
          <h1 class="pt-4 pb-4 pl-0">Recover Your Password</h1>
            <input type="text" class="form-control" placeholder="Enter Your Mobile Number" name="mobile">
        </div>
         <button type="submit" class="btn btn-primary w-50 pt-2">Submit</button>
        <div class="text-center mt-3" style="color: green; font-size: larger;"><%= msg %></div>
        <div class="text-center mt-3" style="color: red; font-size: larger;"><%= Err %></div>
    </form>
</div>
</div>
</div>
    <script src="javascripts/dropdown.js"></script>
    <script src="javascripts/preloader.js"></script>
  </body>
  
  </html>