<!-- preloader section starts-->
<body onload="PreLoader()">
  <% include components/preloader %>
  <!-- preloader section ends -->
  <!-- navbar include -->
  <% include components/nav %>
  <!-- main-content include-->
  <% include components/main %>
  <!-- Slider include-->
  <% include components/sliderTeam %>
  <!-- Footer include-->
  <% include components/footer %>

  <script src="javascripts/dropdown.js"></script>
  <script src="javascripts/preloader.js"></script>
</body>
</html>