
<!-- <body onload="PreLoader()"> -->
    <div class ="col" id="loading">
        <img src="./imgs/ajax-loader (1)aa.gif" style="width: 15%;" alt="pre-loader">        
        <img src="./imgs/logo.png" class="load-logo" alt="">
    </div>

<!-- Navbar starts -->       
<header>
    <div class="container">
        <div class="row c">
            <div class="col-md-3 c">
                <div class="logo">
                    <img src="./imgs/logo.png" alt="">
                </div>
            </div>
            <div class="col-md-7 c ">
                <input type="checkbox" id="check">
                <label for="check" class="tag">
                    <div class="spin t"></div>
                    <div class="spin m"></div>
                    <div class="spin b"></div>
                </label>
                <ul class="menu text-md-center ">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/product">Products</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li id="Service" onclick="myfunction()">
                        <a href="#">Pages</a><span><i id ="icon"class="fa fa-caret-right" style="color: #007bff; transform: rotate(0deg); font-size: 19px; position: relative; top: 2px; left: 7px;" aria-hidden="true"></i>
                        </span>
                    </li>
                        <ul class="sub-service" id="Sub">
                            <li class=""><a href="">Page-1</a></li>
                           <li class=""><a href="">Page-2</a></li>
                           <li class=""><a href="">Page-3</a></li>
                        </ul>
                        <li class=""><a href="/login">Login</a></li>
                </ul>
            </div>
            <div class="col-md-2 text-center pl-0 pr-0 pt-3" style="font-size: 22px;">
               <a href=""><i class="fa fa-shopping-cart mr-4" aria-hidden="true"></i></a>
               <a href="/registration"><i class="fa fa-user-plus" aria-hidden="true"></i>
               </i></a>
            </div>

        </div>
    </div>
</header>
<!-- Navbar ends-->

<!-- Main Page starts -->       
<div class="content">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h1 class="head">Select Your New Perfect Style</h1>
                <p class="pera">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Lorem ipsum dolor sit amet.
                </p>
                <a href="#"><button class="btn btn-primary btn-1 pt-3">SHOP NOW</button></a>
            </div>
            <div class="col-md-4">
                <div class="watch">
                    <img src="imgs/watch.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Page ends -->       

<!-- Carousel starts -->       
<div class="container mt-3 mb-3">
    <div class="row" id="latest">
        <div class="col-md-12 head-2">
            <h1 class="head-b">Our Team</h1>
        </div>
    </div>
</div>

<div class="container mb-5 mt-4">
    <div class="row">
        <div class="col-md-10 mr-auto ml-auto text-center">
            <div id="carouselId" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item text-center active">
                        <div class="img-box p-1  m-auto">
                            <img class="d-block w-100 rounded-circle" src="imgs/df8f84084f61f8a0c1e6b54a990569f1.jpg" alt="">
                            </div>
                            <h2 class="mt-4">Web Designer</h2>
                            <h6>Shriya Sharma</h6>
                            <p class="mt-4 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laborum nemo molestiae! Quod voluptas perspiciatis repellendus fuga odio sit sed.</p>
                    </div>
                    <div class="carousel-item text-center">
                        <div class="img-box p-1  m-auto">
                            <img class="d-block w-100  rounded-circle " src="imgs/testm-01.png" alt="">
                            </div>
                            <h2 class="mt-4">Web Devloper</h2>
                            <h6>Tom Serrif</h6>
                            <p class="mt-4 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laborum nemo molestiae! Quod voluptas perspiciatis repellendus fuga odio sit sed.</p>
                    
                    </div>
                    <div class="carousel-item text-center">
                        <div class="img-box p-1  m-auto">
                            <img class="d-block w-100 rounded-circle" src="imgs/images-0.jpg" alt="">
                            </div>
                            <h2 class="mt-4">Android Devloper</h2>
                            <h6>John Albert</h6>
                            <p class="mt-4 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laborum nemo molestiae! Quod voluptas perspiciatis repellendus fuga odio sit sed.</p>
                    </div>

                 
                </div>
                <a class="carousel-control-prev" href="#carouselId"  data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselId" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </div>
</div>

<!-- Carousel ends-->       
<!-- Footer Starts -->       
<div class="container section">
    <div class="row pt-3">
        <div class="col-md-3 col-sm-6 footer-c">
            <div class="footer-l">
                <img src="imgs/logo.png" alt="">
            </div>
            <p id="footer-pera">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, animi!</p>
        </div>
        <div class="col-md-3 col-sm-6 footer-c">
            <h3>Quick Links</h3>
            <ul class="footer-m">
                <li><a href="#">About</a></li>
                <li><a href="#">Offers & Discount</a></li>
                <li><a href="#">Get Coupon</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 footer-c">
            <h3>New Product</h3>
            <ul class="footer-m">
                <li><a href="#">Woman Cloths</a></li>
                <li><a href="#">Fashion Accsesories</a></li>
                <li><a href="#">Men Accsesories</a></li>
                <li><a href="#">Rubber made Toys</a></li>
            </ul>
        </div>
        
        <div class="col-md-3 col-sm-6 footer-c">
            <h3>Support</h3>
            <ul class="footer-m">
                <li><a href="#">Frequently Asked Questions</a></li>
                <li><a href="#">Terms & Condition</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Report & Payment issue</a></li>
            </ul>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-12 footer-c"><p>Copyright ©2020 All rights reserved | This template is made with <span id="heart">&hearts;</span> Tekeshwar Dewangan
            </p></div>
            <div class="col-sm-12">
                <div class="icon">
                    <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/explore" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.gmail.com" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
               </div>
            </div>
          </div>
        </div>
        <!-- Footer ends -->    
       
